@import url("components/header.css");
@import url("components/main-section.css");
@import url("components/discover-section.css");
@import url("components/join-section.css");
@import url("components/footer.css");



@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap');

* {
	overflow: hidden;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #2F303A;
	font-family: 'Poppins', sans-serif;
}

@media (max-width: 56.25em) {
	* {
		overflow: visible;
	}
}

/*
MEDIA QUERIES

0 - 600px:		Phone
600 - 900px: 	Tablet portrait
900 - 1200px:	Tablet landscape
1200 - 1800px:	Desktop
1800 - ∞:		Big desktop

1em = 16px


@media (min-width: 112.5em) {
	
}

@media (max-width: 75em) {
	
}

@media (max-width: 56.25em) {
	
}

@media (max-width: 37.5em) {
	
}

*/